.Business {
  border-top: 100px;
  width: 221px; /* Adjust width as needed */
  padding: 3px;
  display: inline-block;
  margin: 0 10px; /* Adjust margin for spacing */
  text-align: center;
}

.Business-information {
  display: flex;
  height: 150px;
  justify-content: space-between;
}

.Business-address,
.Business-reviews {
  text-align: center;
}

.Business .image-container img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}
